
body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: blue;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: cornflowerblue;
    text-align: center;
}

.navigation-bar {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.anasayfabilgi {
    text-align: center;
    font-size: 18px;
}

.bulunanürünler {
    text-align: center;
    list-style-position: inside
}

.ürünler {
    text-align: center;
    font-size: 18px;
    list-style-position: inside
}

.hakkimizda {
    text-align:left;
    font-size: 18px;
}